body{
    background-image: url("hole.png");
    max-width:480px;
}

link{
    font-size: 200%;
}
body{

padding:0;
margin:0 ;
}

div.gallery{
    width: 100%;
    min-width: 480px;
    height: auto;
    border: 2px red solid;
    background-color: black;
   }
div.gallery img{
    width: 480px;
    height: auto;
    
}
div.gallery:hover{
    border-color: #eee; 
}
div.desc{
text-align: center; 
color: darkgrey;
font-size:40%;
}
div.desc:hover{
    color:darkblue; 
}