body{
    background-color: #2e2e2e;
}
div.card{
    width:90%;
    border:2px #0D93E0 solid;
    border-radius: 10px;
    margin:32px;
}

div.card img{
    width:100%;
    border-radius: 10px;
}
div.desc{
    color: #0D93E0;
}
div.card:hover{
    border-color: rgba(255, 255, 255, 0.56);
    box-shadow: 8px 8px 16px 8px rgba(255, 255, 255, 0.56);
}
   div.flex{
       display:flex;
       flex-direction: column;
       
   }

@media only screen and (min-device-width:481px) {
    div.card {
        width:40%;
    }
    div.flex{
        flex-direction:row;
    }
}

