
body{
    background-color: #2e2e2e;
    width: 100%;
      }
      
      nav{
          width:100%;
          border: 2px solid #0D93E0;  
          height: auto;
          border-radius: 12px;
          text-align: center;
       }
    
       
  li a{
      display: block;
      padding: none;
      background-color: black;
      font-size: 80%;
      color:white;
    
  
}
div.card{
    width:90%;
    border:2px #0D93E0 solid;
    border-radius: 10px;
    margin:32px;
}

div.card img{
    border-radius: 10px;
}
div.desc{
    color: #0D93E0;
}
div.card:hover{
    border-color: rgba(255, 255, 255, 0.56);
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.56);
    transition: 2s;
}

div.desc:hover{
    color: #eee;
    transition: 2s;
}

   div.flex{
       display:flex;
       flex-direction: column;
           }
  


@media only screen and (min-device-width: 481px) { /*first breakpoint*/
  nav{
      width:100%;
  }
    div.card{
        width:35%;
        height:auto;
      
    }
    div.desc{
        font-size:80%;
    }
    div.flex{
        flex-direction: row;    
        flex-wrap: wrap; 
    }
        }
@media only screen and (min-width: 1025px) {/*second breakpoint*/
  
    nav{
       width:100%;
   }
    div.card {
       
        width:25%;
        
      }

    div.gallery img{
        width:100%;
    }

    div.desc{
        font-size:120%;
    }
}
    
    

